<!-- <p>gridcomponent works!</p>
<p> Hello {{message}} </p> -->
<nav>
    <ul>
      <li class="textt">MovieBuzz</li>
      <li>
        <a
          href="#top"
          class="active"
          style="font-family: 'Josefin Sans', sans-serif; font-size: 20px"
          ><i class="fa fa-home" aria-hidden="true"></i>&nbsp;&nbsp;Home</a
        >
      </li>
      <li>
        <a
          routerLink = "/gridcomponent-component"
          class="active1"
          style="font-family: 'Josefin Sans', sans-serif; font-size: 20px"
          ><i class="fa fa-table" aria-hidden="true"></i>&nbsp;&nbsp;Edit</a
        >
      </li>
    </ul>
  </nav>
<div class="bgimg"></div>

<h2>BOOKING DETAILS</h2>
<table mat-table [dataSource]="dataSource" class="data-table">
  <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
    <th mat-header-cell *matHeaderCellDef>
      <br>
      {{ col.label }}
      <br>
      

    </th>
    <td mat-cell *matCellDef="let element">
      <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="element.isEdit = !element.isEdit">
            Edit
          </button>
        </div>
        <span *ngSwitchDefault>
          {{ element[col.key] }}
        </span>
      </div>

      <div [ngSwitch]="col.key" *ngIf="element.isEdit">
        <div class="btn-edit" *ngSwitchCase="'isEdit'">
          <button mat-button (click)="element.isEdit = !element.isEdit" (click)="confirm(element)">
            Done
          </button>
        </div>
        <mat-form-field class="form-input" *ngSwitchCase="'user_seat'">
          <input
            required
            type="number"
            matInput
            (ngModelChange)="element[col.key] = $event"
            [ngModel]="element[col.key]"
          />
        </mat-form-field>
        <div *ngSwitchDefault>
          {{ element[col.key] }}
        </div>
      </div>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>